<?xml version="1.0"?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="EVSoft.HRMS.Properties.Settings.wims_qlnsConnectionString" connectionString="Data Source=SERVER;Initial Catalog=wims_qlns;User ID=sa" providerName="System.Data.SqlClient"/>
 </connectionStrings>
 <appSettings>
		<add key="hrms_SettingFile" value="Config.xml"></add>
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.ReportAppServer.CommLayer" publicKeyToken="692FBEA5521E1304" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-11.5.3300.0" newVersion="11.5.3300.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.ReportAppServer.ClientDoc" publicKeyToken="692FBEA5521E1304" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-11.5.3300.0" newVersion="11.5.3300.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
