<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <add key="Server" value="NDCHIEN\SQLEXPRESS"/>
    <add key="Database" value="qlnshp"/>
    <add key="UserID" value="sa"/>
    <add key="Password" value="sa123"/>
    <add key="MyAccount_SettingFile" value="CardReader.Config"></add>
  </appSettings>
</configuration>