<?xml version="1.0"?>
<ModuleSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <CardType>X628C</CardType>
  <BarCodeType>JAN-8</BarCodeType>
  <Database>crd</Database>
  <UserName>estellehp</UserName>
  <Password>estellehp</Password>
  <Server>THOLH-PC\MSSQLSERVER2008</Server>
  <PicturePath>P:\wims_qlns_hp\Data\EVsoft_Data\PHOTO</PicturePath>
</ModuleSettings>