<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HumanResourceUpdate.Properties.Settings.wims_qlnsConnectionString"
            connectionString="Data Source=server;Initial Catalog=wims_qlns;User ID=estellehp;Password=estellehp"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>