<?xml version="1.0" encoding="utf-8" ?>
<ModuleSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<username>sa</username>
	<password>123</password>
	<server>server</server>
	<picturePath></picturePath>
	<database>wims_qlns</database>
	<language>vi-VN</language>
</ModuleSettings>